body {
    background-color: #282c34;
    color: #ccc;
    overflow: hidden;
    height: 100vh;
    font-family: 'Montserrat', sans-serif; /* Sets Montserrat as the default font */
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
}

div#button-container {
    margin: 0.5em;
}

div#title {
    margin: 0.5em;
}

.button {
    cursor: pointer;
    font-size: larger; /* Increases the font size slightly */
    font-family: inherit;
    font-weight: bold;
    color: #0011ff;
    background-color: #f8f8fd;
    padding: 1em 3em; /* Increased padding for a larger button */
    border-radius: 50em;
    border: 6px solid #8b93f8;
    box-shadow: 0px 8px #1f35ff;
}
.button:active {
    position: relative;
    top: 8px;
    border: 6px solid #646fff;
    box-shadow: 0px 0px;
}
