@font-face {
    font-family: 'Mighty Souly';
    src: url('fonts/MightySouly-lxggD.ttf') format('truetype'); /* Adjust the path as necessary */
    font-weight: lighter;
    font-style: normal;
}

:root {
    --primary-color: #8b93f8;  /* Blue */
    --background-color: #282c34;
    --button-color: #0011ff;
    --text-color: #f8f8fd;
    --button-hover-color: #646fff;
    --button-shadow-color: #1f35ff;
}

.red-theme {
    --primary-color: #ef6872;
    --button-color: #E63946;
    --button-hover-color: #ee4651;
    --button-shadow-color: #85373d;
}

/* Styles for overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    display: none; /* Initially hidden */
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Adjust z-index as needed */
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v192/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
  }
  
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 5vh;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
  }

/* Media query for portrait orientation */
@media screen and (orientation: portrait) {
    .overlay {
        display: flex; /* Show overlay in portrait mode */
    }
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    overflow: hidden;
    font-family: 'Mighty Souly', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Organizes content vertically */
    height: 100vh; /* Takes full height of the viewport */
}

h1 {
    font-size: 5vw;
    margin: 0; /* Removes default margin to help centering */
    font-weight: lighter;
}

h2 {
    font-size: 3vw;
    margin: 0; /* Removes default margin to help centering */
    font-weight: lighter;
}

div#button-container {
    display: flex;
    justify-content: center;
    width: 100%; /* Takes full width of its container */
    /* display: none; */
}

/* div#title {
    display: none;
} */

.button {
    cursor: pointer;
    font-size: larger;
    font-family: inherit;
    color: var(--button-color);
    background-color: var(--text-color);
    padding: 1vw 3vw;
    border-radius: 2vw;
    border: 0.3vw solid var(--primary-color);
    box-shadow: 0vw 0.4vw var(--button-shadow-color);
    font-size: 1vw;
}

.button:active {
    position: relative;
    top: 0.4vw;
    border: 0.3vw solid var(--button-hover-color);
    box-shadow: 0vw 0vw;
}

.checkbox {
    top: 0%;
    right: 0%;
    margin: 2vw;
    width: 12.3vw;
    height: 3.2vw;
    background-color: #1d1f24;
    border-radius: 1.5vw;
    position: absolute;
    color: var(--text-color);
    overflow: hidden;
  }
  
  #checkbox-toggle {
    display: none;
  }
  
  .checkbox .toggle {
    width: 5.7vw;
    height: 2.55vw;
    position: absolute;
    border-radius: 1.3vw;
    left: 0.3vw;
    cursor: pointer;
    background: var(--primary-color);
    transition: 0.4s;
  }
  
  .checkbox .slide {
    width: 12.3vw;
    height: 3.17vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
  }
  
  .checkbox .slide .text {
    text-align: center;
    width: 6vw;
    font-size: 0.8vw;
    z-index: 100;
    cursor: pointer;
  }
  
  .check:checked + .checkbox .slide .toggle {
    transform: translateX(6vw);
    background: var(--primary-color);
  }
  
  .check:checked + .checkbox .slide {
    color: var(--text-color);
  }


  div#left-side-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    display: none;
    flex-direction: column;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    margin: 1.5vw;
    align-items: center;
}

div#right-side-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100vh;
    display: none;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    margin: 1.5vw;
}

li {
    padding: 0.3vw 0vw;
    margin-top: 0;
    cursor: pointer; /* Changes the cursor to a pointer to indicate clickability */
    transition: background-color 0.3s; /* Smooth transition for background color change */
    background-color: #282c34; /* Initial background color */
    border-bottom: 0.1vw solid var(--primary-color);
}

li:hover {
    background-color: #3a3f4a; /* Darker shade on hover for interactivity */
}

li:nth-child(odd) {
    background-color: #2f3340; /* Slightly different background for odd items */
}

li:nth-child(odd):hover {
    background-color: #414856; /* Slightly different hover effect for odd items */
}

.scrollbar {
    width: 100%;
    overflow: auto;
    list-style-type: none;
    box-sizing: border-box;
    border-top: 0.5vw solid var(--primary-color);
    border-bottom: 0.5vw solid var(--primary-color);
    border-left: 0.5vw solid var(--primary-color);
    border-radius: 0.5vw;
    font-size: 1.5vw;
    padding: 0vw;
    margin-top: 5%;
    margin-bottom: 10%;
    overflow-y: scroll; /* Force the scrollbar to always be visible */
    min-height: 84%;
}

/* Scrollbar styles remain unchanged */
.scrollbar::-webkit-scrollbar {
    width: 0.5vw;
}
.scrollbar::-webkit-scrollbar-track {
    background-color: var(--primary-color);
}
.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 0.5vw;
    background-color: var(--text-color);
}

#target-display {
    position: absolute;
    bottom: 0;
    width: 100vw;
    margin: 0;
    /* padding: 10px 0; */
    color: var(--text-color);
    /* -webkit-text-stroke: 2px var(--primary-color); */
    justify-content: center;
    z-index: -100;
    display: none;
    font-size: 3.5vw;
}

div#info-container {
    position: absolute;
    top:25%;
}

p#info-text {
    margin: 0;
    font-size: 1vw;
}

h1#info-header {
    font-size: 3vw;
}

div#back-button {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%; /* Takes full width of its container */
    bottom: 0;
    margin-bottom: 2.5vw;
}

.node {
    position: absolute;
    width: auto;
    padding: 1.5vh 3vh;
    background-color: var(--background-color);
    border: 0.4vh solid var(--primary-color);
    border-radius: 2.5vh;
    font-family: 'Mighty Souly', sans-serif;
    font-size: 4vh;
    color: var(--text-color);
    text-align: center;
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.5);
    display: flex;
}

.arrow {
    font-size: 4.5vh;
    color: var(--primary-color);
    text-align: center;
}

#reset-button {
    position: absolute;
    bottom: 0;
    width: 20%;
    display: none;
    justify-content: center;
    margin-bottom: 1vw;
}

.input {
    font-family: 'Mighty Souly';
    color: var(--text-color);
    width: 90%;
    background-color: #1d1f24;
    border-radius: 0.5vw;
    text-align: center;
    padding: 0.5vw;
    border: 0.2vw solid transparent;
    font-size: 2vw;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s, background .2s cubic-bezier(.25,.01,.25,1) 0s;
    margin-top: 0.5vw;
  }
  
  .input:hover, .input:focus, .input-group:hover .input {
    outline: none;
    border-color: var(--primary-color);
  }